:root {
  --primary-font: 'Lato-Regular';
  --secondary-font: 'Montserrat-Regular';
}

@font-face {
  font-family: var(--primary-font);
  font-display: swap;
  /* Path relative to where this file will be imported */
  src: url('../assets/fonts/Lato-Regular.woff2') format('woff2'),
       url('../assets/fonts/Lato-Regular.woff') format('woff');
}

@font-face {
  font-family: var(--secondary-font);
  font-display: swap;
  /* Path relative to where this file will be imported */
  src: url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
       url('../assets/fonts/Montserrat-Regular.woff') format('woff');
}